@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    display: flex;
    flex-direction: column;
    background: url(./bg-intro-mobile.png) no-repeat center ;  
    background-color: var(--red);
    justify-content: center;
    align-items: center;
    font-family: 'Poppins' sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 1.3rem 1.9rem;
    max-width: 350px;
}
.content {
    text-align: center;
}
.content h1 {
    color:#fefefe;
    width: 80%;
    margin: 1rem auto;
}
.content p {
    color: #fefefe;
    word-spacing: 1px;
    margin-bottom: 2.9rem;
}
.trial{
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: hsl(248, 32%, 49%);
    color: #fff;
    border: none;
}
.form__content{
     width: 90%;
}
.form__paragraph{
    margin: 1rem auto;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    color: #fff;
    background-color: var(--blue);
}
.form__paragraph p span {
    font-weight: 700;
}
.form__container {
    background-color: #fefefe;
    border-radius: 0.5rem;
}
form{
    padding: 1rem;
}
form input{
    display: block;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    border: 1px solid var(--grayish-blue);
    border-radius: 0.7rem;
}
form input ::placeholder {
    font-weight: 700;
    color: rgba(60, 62, 72, 1);
}
button {
    background-color: hsl(148, 57%, 51%);
    border: 1px solid hsl(154, 59%, 45%);
    border-radius: 0.5rem;
    box-shadow: 0 2px hsl(154, 59%, 45%);
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Poppins' , sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    letter-spacing: 1px;
    width: 100%;
}
@media (min-width: 768px) {
  body {
    background: url(./bg-intro-desktop.png)no-repeat center;
    background-color: var(--red);   
  }
  .container {
    flex-direction: row;
    max-width: 100vw;
    width: 80%;
  }
  .content {
    text-align: left;
    width: 85%;
    margin: 1rem 4rem 0;
  }
  .content h1 {
    color: #fefefe;
    margin: 1rem 0;
    width: 80%;
    word-spacing: 0.2rem;
  }
  content p {
    color:#fefefe;
    margin-bottom: 3rem;
  }
  .form__content{
    width: 80%;
  }
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

